@import url(/vars.module.css); /* import just serves as a reminder. doesn't actually do anything because in-page stylesheets aren't allowed to import other stylesheets, all stylesheets need to be declared in the manifest and this applies them */

/* some declarations here might seem redundant, but they exist to override style sheets of particular pages */

#FJF_JobsFilter {
  font-family: Arial;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  background-color: var(--FJF_backgroundColor);
  max-height: 100%;
  overflow: auto;
  font-size: 0.45cm; /* a measurement that's not affected by site stylesheet, and a better than px (because varying resolutions) */
  max-width: 20em;
  padding: 0.5em;
  padding-right: 0.75em;
  border-top-right-radius: 0.5em;
}

#FJF_JobsFilter * {color: var(--FJF_textColor)}

#FJF_JobsFilter summary {cursor: pointer}

#FJF_JobsFilter p {margin: 0}

#FJF_JobsFilter p,
#FJF_JobsFilter ul {
  font-size: 0.8em;
  padding-inline-start: 0;
  margin: 0;
}

#FJF_JobsFilter li {list-style: none}

#FJF_JobsFilter li.note {
  color: var(--FJF_textSubColor);
  text-align: center;
}

#FJF_JobsFilter a {color:goldenrod}
#FJF_JobsFilter a:hover,
#FJF_JobsFilter a:focus,
#FJF_JobsFilter a:active {
  color:gold
}

#FJF_JobsFilter button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.3em 0.6em;
  color: var(--FJF_backgroundColor);
}