@import url(/shared/vars.module.css);

body {
  font-size: 0.5cm; /* for consistency between browsers */
  font-family: Arial;
  padding: 0.25em;
  background-color: var(--FJF_backgroundColor);
  color: var(--FJF_textColor);
}

body > div {
  margin-inline: auto;
  min-width: 20em;
  max-width: 40em;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  border: none;
  padding: 0;
}

h1 {
  font-size: 1.75em;
  margin: 0.5em 0 0.25em;
}

#filterAddition {
  width: 100%;
  display: flex;
}

#filterAddition button {
  font-weight: bold;
  color: var(--FJF_backgroundColor);
  background-color: var(--FJF_textSubColor);
  padding: 0.25em;
  transition: background-color 350ms;
}

#filterAddition button:hover,
#filterAddition button:focus {
  background-color: var(--FJF_textColor);
}

#filterAddition input {
  flex-grow: 1;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  border: 0.1em solid var(--FJF_textSubColor);
  outline-offset: 0.2em; /* so the focus outline wont overlap with the border */
  transition: border-color 350ms;
}

#filterAddition input:hover,
#filterAddition input:focus {
  border-color: var(--FJF_textColor);
}

ul {
  font-size: 1.4em;
  padding-left: 0.5em;
  margin: 0;
}

li::marker {content: "- "}
li + li {margin-top: 0.25em}

li button, li img {vertical-align: middle}

li button {
  float: right;
  margin-left: 0.75em;
  background-color: transparent;
}

li pre {
  display: inline;
  margin: 0;
  font-family: inherit;
  width: fit-content;
  white-space: wrap;
}
li pre::before, li pre::after {content: '"'}

li::marker, li pre::before, li pre::after {
  color: var(--FJF_textSubColor);
}

li img {
  height: 1.1em;
  vertical-align: middle;
}

.imageButton img {
  opacity: var(--FJF_inactiveOpacity);
  transition: opacity 350ms;
}

.imageButton:hover img,
.imageButton:focus img {
  opacity: 1;
}

#fileLoadWrapper {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#fileLoadWrapper button,
#fileLoadWrapper label,
#fileLoadWrapper img {
  font-size: inherit;
  height: 1.4em;
  width: 1.4em;
}
#fileLoadWrapper label {
  position: relative;
  background-color: var(--FJF_backgroundColor);
}
#fileLoadWrapper input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 1px;
  width: 1px;
  box-sizing: content-box;
  padding: 0.95em;
}
#fileLoadWrapper button {
  background-color: transparent;
}

hr {
  margin: 0.5em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 0.25em;
}

label {
  font-size: 1.1em;
  cursor: pointer;
}
label input {vertical-align: middle}

label input[type="checkbox"] {cursor: pointer}